doctype html
html.h-100(lang="en")
  head
    title= Title
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded
      a.navbar-brand(href="/") Slack by
      a.navbar-brand(href="https://github.com/SuchkovSergey") Suchkov Sergey
    .container-lg.h-100.overflow-hidden.border-top
      .h-100#chat
    script(src=assetPath('main.js'))
